<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>000.png</string>
		<key>price</key>
		<string>98</string>
		<key>title</key>
		<string>大众点评</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>001.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>拍鞋网</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>002.png</string>
		<key>price</key>
		<string>88</string>
		<key>title</key>
		<string>淘宝网</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>11</string>
		<key>icon</key>
		<string>003.png</string>
		<key>price</key>
		<string>39</string>
		<key>title</key>
		<string>苏宁易购</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>004.png</string>
		<key>price</key>
		<string>108</string>
		<key>title</key>
		<string>大麦网</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>005.png</string>
		<key>price</key>
		<string>58</string>
		<key>title</key>
		<string>当当网</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>006.png</string>
		<key>price</key>
		<string>999</string>
		<key>title</key>
		<string>凡客诚品</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>007.png</string>
		<key>price</key>
		<string>78</string>
		<key>title</key>
		<string>国美电器</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1094</string>
		<key>icon</key>
		<string>008.png</string>
		<key>price</key>
		<string>85.5</string>
		<key>title</key>
		<string>唯品会</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>009.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>拉手网</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>010.png</string>
		<key>price</key>
		<string>318</string>
		<key>title</key>
		<string>窝窝团</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>011.png</string>
		<key>price</key>
		<string>77</string>
		<key>title</key>
		<string>一号店</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>40</string>
		<key>icon</key>
		<string>012.png</string>
		<key>price</key>
		<string>311</string>
		<key>title</key>
		<string>聚美优品</string>
	</dict>
</array>
</plist>
